$primary: green;
// $tabs-link-active-color: grey;  
// $tabs-link-color: rgb(90, 49, 49);


@import "../node_modules/bulma/bulma.sass";

// Styles go below this line...

.card { 
  width: 95%;
  margin: auto;
}

div.columns { 
  margin-top: 20px; 
} 

p { 
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 10px; 
} 

.card-header-title { 
  font-size: 20px; 
} 

.card-content {
  padding: 0.5rem;
}

.tabs {
  position: fixed;
  bottom: -25px;
  width: 100%;
  z-index:1;
  
  
}
.card-seperation {
  padding: 2rem
}

.seperation {
  margin-top: 1rem;
}

.image {
  height: 200px; /* height of container */
  overflow: hidden;
  object-position: 100px 50px;
}

.field { 
  margin-left: 55%;
  margin-top: 1%;
}
