$primary: #2B2A31;
$title-color: #2B2A31;
$subtitle-color: #2B2A31;
$tabs-link-padding: 0.3em 0.3em;
$tabs-boxed-link-radius: 0px;
$tabs-toggle-link-radius: 0px;
$tabs-active-color: #f8f8f8;

@import "../node_modules/bulma/bulma.sass";

// Styles go below this line...

// Recipe Card // 
.card { 
  width: 95%;
  margin: auto;
  border-radius: 2em;
  padding-top: 0.6em;
}

div.columns { 
  margin-top: 20px; 
} 

p { 
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 10px; 
} 

.card-content {
  padding: 0.5rem;
}

.seperation {
  margin-top: 1rem;
}

.image {
  height: 200px; /* height of container */
  overflow: hidden;
  object-position: 30px 50px;
}

.field { 
  margin-left: 55%;
  margin-top: 1%;
}

.image {
  border-radius: 25px;
}

.card-image {
  margin-left: auto;
  margin-right: auto;
  // height: 10px;
  width: 95%;
  // position: inline;
  border-radius: 2rem;
}

.control {
  color: white;
}

.content {
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  
}

.media-content {
  padding-left: 0.5rem;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 20px;
}

// Nav Bar //
.tabs {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index:1; 
}

.navp {
  margin-top: -10px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.tabs .icon:first-child {
  margin-right: 0.2em;
}



// Branding //

.logo { 
  margin-top: 1.6em;
  display: block;
  margin-right: auto;
  width: 15%;
  padding-left: 20px;
  position: fixed;
  z-index: 2;
}

.title {
  font-family: 'Varela Round', sans-serif;
}

.hero-body {
  padding:0.5rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  text-align: center;
  
} 


// Week Plan Styling //

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.2em 0;
  padding: 0;
  width: 94.5%;
}

.box {
  border-radius: 2em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.titleweek {
  font-size: 2em;
}

.spacing {
  margin: 2rem
}
html, body {
  background-color: #f8f8f8;
  margin-bottom: 12%;
}

.header {
  position: fixed;
  margin-top: 0em;
}

.weeklist {
  padding-top: 6rem;
}

// .hrspacing {
//   margin-bottom: 1.4em;
// }

.list {
  padding-left: 1em;
}

.mondaypadding {
  padding: 10px;
}
.box {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

// Search Bar //

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
} 

// form //

.login {
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
}

.loginb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.input, .textarea .select select {
  border: 0;
  background-color: transparent;
}

.control.has-icons-left .input, .control.has-icons-left .select select {
  padding-left: 0em;
}

.input:hover, .textarea:hover, .select select:hover, .is-hovered.input, .is-hovered.textarea, .select select.is-hovered {
  
}

html, :focus {
  outline: 0;
  }

.register {
  padding: 1em;
}

.logologin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

// expandcard // 

.image.is-48x48 {
    height: 48px;
    width: 0px;
}
// .Recipes {
//   padding-top: 6em;
// }
.destroyerOfIngredients {
  position: relative;
  left: 2rem;
  color: gray;
}

// .shoppingText {
//   justify-content: left;
//   align-items: left;
//   margin-left: 2rem;

// }

.signout {
  position: relative;
  left: 8.5rem;
  top: -3rem;
}