$primary: #2B2A31;
$title-color: #2B2A31;
$subtitle-color: #2B2A31;
$tabs-link-padding: 0.3em 0.3em;
$tabs-boxed-link-radius: 0px;
$tabs-toggle-link-radius: 0px;
$tabs-active-color: #f8f8f8;
$tabs-link-active-border-bottom-color: black;
$tabs-link-active-color:black;
$tabs-link-color:gray;

@import "../node_modules/bulma/bulma.sass";

// Styles go below this line...

// @media only screen and (min-width: 768px) {
//   .contentRoutes {
//     margin-left: 10%;
//     margin-right: 10%;
//   }
// }

#root {
  display: flex;
  flex-direction: column;
  // padding-left: 10px;
  // padding-right: 10px;
}

// Recipe Card // 
.card { 
  width: 350px;
  max-width: 90vw;
  margin: 10px;
  border-radius: 2em;
  padding-top: 0.6em;
}

div.columns { 
  margin-top: 20px; 
} 

p { 
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 10px; 
} 

.card-content {
  padding: 0.5rem;
}

.seperation {
  // margin-top: 2rem;
}

.image {
  height: 200px; /* height of container */
  overflow: hidden;
  object-position: 30px 50px;
  border-radius: 25px;
}

.field { 
  margin-left: 55%;
  margin-top: 1%;
}

.image1 {
  height: 300px; /* height of container */
  overflow: hidden;
  border-radius: 30px;
  margin-bottom: 2rem;
}

.card-image {
  margin-left: auto;
  margin-right: auto;
  // height: 10px;
  width: 95%;
  // position: inline;
  border-radius: 2rem, 2rem, 0, 0;
}

.control {
  color: white;
}

.content {
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  overflow-x: hidden;
  
}

.media-content {
  padding-left: 0.5rem;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 20px;
}

.edit-bottom-right {
  position: relative;
  left: 270px;
  bottom: -35px;
  color: black;
}

.bin-bottom-right {
  position: relative;
  left: 305px;
  bottom: -12px;
  color: black;
}

.fa-edit {
  color: black;
}

// expanded view //

box:not(:last-child), .content:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .table:not(:last-child), .table-container:not(:last-child), .title:not(:last-child), .subtitle:not(:last-child), .block:not(:last-child), .highlight:not(:last-child), .breadcrumb:not(:last-child), .level:not(:last-child), .message:not(:last-child), .pagination:not(:last-child), .tabs:not(:last-child) {
  margin-bottom: 0rem;
}

.card .media:not(:last-child) {
  margin-top: 1rem;
  margin-bottom: -1rem;
  margin-left: -1rem;
}

.card-expanded {
  margin: 5.5rem 10px 0;
}

.card-expanded-edit {
  margin: 5.5rem 10px 0;
  margin-left: 1.2rem;
}


.addto {
  padding-left: 0.5rem;
}

button, input, select, textarea {
  margin: 0;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.ingredtext {
  padding-left: 1.5rem;
}

.carddata {
  margin-top: -4rem;
}

// Nav Bar //
.tabs {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index:1; 
}

.navp {
  margin-top: -10px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.tabs .icon:first-child {
  margin-right: 0.2em;
}

.button .icon:first-child:last-child {
  margin-left: 0;
}

.select {
  color: #909090;
  radius: 20px;
  height: 20px;
  background-color: white;
  border: 0px;
  outline: 0px;
  margin-top: -0.2rem;
  margin-right: 2rem;
}

.dropdown {
  padding-left: 0.5rem;
}

.methpad {
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  text-align: justify;
}

.methpad-edit {
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  text-align: justify;
  padding-top: 2rem;
}

.confirm {

}

// Branding //

.logo { 
  margin-top: 1.6em;
  display: block;
  margin-right: auto;
  width: 15%;
  padding-left: 20px;
  position: fixed;
  z-index: 2;
}

.title {
  font-family: 'Varela Round', sans-serif;
}

.hero-body {
  padding:0.5rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  text-align: center;
  
} 


// Week Plan Styling //

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.2em 0;
  padding: 0;
  width: 94.5%;
}

.box {
  border-radius: 2em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.titleweek {
  font-size: 2em;
}

.spacing {
  margin: 2rem
}
html, body {

  background-color: #f8f8f8;
  margin-bottom: 20%;
  overflow-x: hidden;
}

.header {
  position: fixed;
  margin-top: 0em;
}

.weeklist {
  padding-top: 6rem;
}

.pad {
  padding-left: 1rem;
  padding-bottom: 1rem;
}
// .hrspacing {
//   margin-bottom: 1.4em;
// }

.list {
  padding-left: 1em;
}

.mondaypadding {
  padding: 10px;
}
.box {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.subtitleleftpad {
  padding-left: 1rem;
}

// .subtitle.is-5 {
//   font-size: 1.25rem;
//   padding-left: 1rem;
// }

// Search Bar //

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
} 

// form //

.login {
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
}

.loginb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.input, .textarea .select select {
  border: 0;
  background-color: transparent;
}

.control.has-icons-left .input, .control.has-icons-left .select select {
  padding-left: 0em;
}

.input:hover, .textarea:hover, .select select:hover, .is-hovered.input, .is-hovered.textarea, .select select.is-hovered {
  
}

html, :focus {
  outline: 0;
  }

.register {
  padding: 1em;
}

.logologin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

// expandcard // 

.image.is-48x48 {
    height: 48px;
    width: 0px;
}
// .Recipes {
//   padding-top: 6em;
// }
.destroyerOfIngredients {
  position: relative;
  left: 2rem;
  color: gray;
}

// .shoppingText {
//   justify-content: left;
//   align-items: left;
//   margin-left: 2rem;

// }

.signout {
  position: relative;
  left: 8.5rem;
  top: -3rem;
}

.nav-title {
  margin-top: 1.5rem;
  margin-bottom: -2rem;
}

.noBulmaButton {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color:  #2B2A31;
  color: #f8f8f8;
}

.noBulmaBorderless {
  background-color: transparent;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}

.noBulmaBorderless.newItemQ {
  width: 17%;
}

.noBulmaBorderless.newItem {
  width: 55%;
}

.recipeSearch {
  width: 60vw;
  margin-right: 4rem;
  flex-grow: 2;
}

.recipeSort {
  max-width: 90vw;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.recipeSortButton {
  // width: 27%;
  padding: 0.1rem;
  border: none;
  border-radius: 4px;
  font: inherit;
  font-size: 0.8rem;
  color: inherit;
  padding-top: -1rem;
  height: 27px;
  width: 95px;
  background-color:  #2B2A31;
  color: #f8f8f8;
}

.recipesList{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clear-week {
  display: flex;
  justify-content: flex-end;
  margin-right: 5vw;
  margin-bottom: -20px;
}

.sort-seperation {

}

.plusButton {
  display: inline;
  font-size: 1.6rem;
}

.cardColumns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.methbutton {
  padding-top: 0.2rem;
  padding-bottom: 1rem;
}

.buttonM {
  background-color: transparent;
  border: hidden;
}

.buttonI {
  background-color: transparent;
  border: hidden;
}
/////Shopping//////

.shopping-list {
  padding-left: 1rem;
}

.sort-sort {
  display: flex;
  justify-content: space-between;
  max-width: 90vw;
  margin-right: auto;
  margin-left: auto;
}

.search-pad {
  padding-bottom: 1rem;
}

.clear-shop-pad {
  padding-top: 1rem;
}

//////edit////@at-root
.editcard {
// padding-right: 2rem;
}

button, input, select, textarea {
  margin: 0;
  margin-bottom: 0rem;
  margin-left: 0rem;
  /* margin-left: 1rem; */
}

.textmeth {
padding-left: 1rem;
padding-right: 1rem;
}

.edit-button {
  margin-bottom: 0.5rem;
  margin-top: -1rem;
  margin-left: 0.5rem;
}

.edit-image {
  padding-left: 1rem;
}

.edit-title {
  padding-right: 10rem;
}

.return-edit {
  padding-left: 18rem;
  padding-top: 1rem; 
}

// .monday-clear {
//   display: flex;
//   justify-content: space-between;
// }


//======== NO BULMA NAV ========//

.noBulmaNav {
  z-index: 1;
  // top: 0;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 10px;
  // padding-bottom: 10px;
  height: 80px;
  width: 100vw
}

.noBulmaNavTitle {
  font-weight: 700;
  font-size: 1.4rem;
}

.noBulmaNavSignOut {
  font-size: 0.8rem;
  padding-top: 8px
}

.noBulmaNavSignOut:hover {
  cursor: pointer;
}

.noBulmaNavLogo {
  width: auto;
  height: 50px
}

// .welcomeContainer {
//   max-height: 100vh;
//   display: flex;
//   flex-direction: column;
// }

.facebookLogin {
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.words {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.reciPlan {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1rem;
}

.tasty {
  position: relative;
  bottom: 18rem;
  z-index: 1;
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
}

.socials {
  display: flex;
  justify-content: center;
}

.googleLogin {
  width: 205px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shoppingListIngredients {
  cursor: pointer;
}

.recipeServes {
  font-size: .75rem;
  color: black;
}

.media .content:not(:last-child) {
  margin-bottom: -1rem;
}

.content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child) {
  margin-bottom: 0em;
}

//======== media queries ========//

// @media only screen 
//     and (device-width : 375px) 
//     and (device-height : 812px) 
//     and (-webkit-device-pixel-ratio : 3) { 
//     }
//     }

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { /* STYLES GO HERE */}